# -*- mode: gitignore; -*-
*~
\#*\#

# Compiled
*.elc

# elpa packages
/elpa/
elpa/
*.elc

**/#*#
url/cache
saves/

/.emacs.desktop
/.emacs.desktop.lock

auto-save-list
tramp
.\#*

# Org-mode
.org-id-locations
*_archive

# flymake-mode
*_flymake.*

# eshell files
/eshell/history
/eshell/lastdir

# reftex files
*.rel

# AUCTeX auto folder
/auto/

# cask packages
.cask/

# Smex
/smex-items

.hl-save
ac-comphist.dat
/places
projectile-bookmarks.eld

# Projectile cache
projectile.cache